@import '../../../styles/colors';

.Kalend__ShowMoreModal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.Kalend__ShowMoreModal__container {
  box-shadow: 0 1px 3px rgb(0 0 0 / 4%), 0 1px 2px rgb(0 0 0 / 8%);
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  min-width: 250px;
  overflow-y: scroll;
  max-height: 50vh;
  overflow-x: hidden;
  z-index: 999;
}
