html body{
  font-size: 10px;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: MONOSPACE;
}

#root {
  width: 100%;
  height: 100%;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: dodgerblue;
}


.container__title {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  @media (max-width: 750px) {
    margin-top: 60px
  }
}
.title {
  font-weight: bold;
  font-size: 4.2rem;
  color: white;
  margin: 12px 48px 20px 48px;

  @media (max-width: 750px) {
  margin: 12px 48px 20px 48px;
}
}

.subtitle {
  font-weight: bold;
  font-size: 1.7rem;
  color: white;
  margin: 0 0 48px;
}

.Calendar__wrapper {
  width: 100%;
  height: 100%;
  max-height: 60%;
  display: flex;
  max-width: 850px;
  margin: 0 auto;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  background: white;
  flex-direction: column;
}

.container__button {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 48px;
  top: 48px;

  @media (max-width: 750px) {
    top: 16px;
    right: 16px;
  }
}
