@use "sass:math";

@import '../../styles/colors';

$month_view__height: math.div(100%, 6);

.Kalend__WeekNumbersCol__wrapper {
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: solid 0.4px $GRAY_200;
}
.Kalend__WeekNumbersCol__container {
  width: 100%;
  height: $month_view__height;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-bottom: solid 1px $GRAY_200;

  &--no-border {
    @extend .Kalend__WeekNumbersCol__container;
    border-bottom: solid 1px transparent;
  }
}

.Kalend__WeekNumbersCol__text {
  font-size: 0.5rem;
  color: $GRAY_600;
  padding-top: 8px;

  &-weekdays {
    @extend .Kalend__WeekNumbersCol__text;
    padding-top: 0;
    font-size: 0.7rem;
  }
}
