@import '../../styles/colors';

.Kalend__header_calendar_buttons__container {
  border-radius: 8px;
  left: 0;
  padding: 0;
  //margin: 0 24px 0 24px;
  display: flex;
  flex: none;
  flex-direction: row;
  align-items: center;
  //height: 26px;
  //background-color: $GRAY_300;
  width: 100%;
  //box-shadow: 0 5px 5px -5px #333;
  border-radius: 8px;
  border: solid 0.4px $GRAY_300;

  &-mobile {
    @extend .Kalend__header_calendar_buttons__container;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 80px;
    border: none;

    &-dark {
      @extend .Kalend__header_calendar_buttons__container-mobile;
      //background-color: $GRAY_600;
    }
  }

  &-dark {
    @extend .Kalend__header_calendar_buttons__container;
    background-color: $GRAY_700;
    border: solid 0.4px transparent;
  }
}

.Kalend__header_calendar_button {
  display: flex;
  padding: 6px 4px 6px 4px;
  justify-content: center;
  align-items: center;
  //width: 100%;
  display: flex;
  //font-size: 1.4rem;
  align-items: center;
  display: flex;
  //padding: 8px 4px 8px 4px;
  justify-content: center;
  align-items: center;
  //width: 60px;

  &:hover {
    @extend .Kalend__header_calendar_button;
  }

  &-dark {
    @extend .Kalend__header_calendar_button;

    &:hover {
      @extend .Kalend__header_calendar_button-dark;
      background-color: $GRAY_800 !important;
    }
  }

  &-mobile {
    @extend .Kalend__header_calendar_button;
    border: none;
    font-size: 1.5em;
    width: 100%;
    padding: 8px;
    justify-content: flex-start;

    &-dark {
      @extend .Kalend__header_calendar_button-mobile;

      &:hover {
        @extend .Kalend__header_calendar_button-mobile-dark;
        background-color: $GRAY_600;
      }
    }

    &:hover {
      @extend .Kalend__header_calendar_button-mobile;
    }
  }

    &-dark {
    @extend .Kalend__header_calendar_button;
    background-color: $GRAY_700;
    border: $GRAY_700 solid 0.5px;
  }
}

.Kalend__header_calendar_button-selected {
  @extend .Kalend__header_calendar_button;
  //background: $SURFACE_LIGHT;
  &-dark{
    @extend .Kalend__header_calendar_button-selected;
    background-color: $GRAY_800;
    border: $GRAY_800 solid 0.5px;

    &:hover {
      @extend .Kalend__header_calendar_button-selected-dark;
      background-color: $GRAY_800;
    }
  }

  &-mobile {
    @extend .Kalend__header_calendar_button-selected;
    background: whitesmoke;
    border: none;
    font-size: 1.5em;
    width: 100%;
    padding: 8px;
    justify-content: flex-start;

    &-dark {
      @extend .Kalend__header_calendar_button-selected-mobile;
      background: $GRAY_700;

      &:hover {
        @extend .Kalend__header_calendar_button-selected-mobile-dark;
        background: $GRAY_600;
      }
    }

    &:hover {
      @extend .Kalend__header_calendar_button-mobile;
    }
  }

  &:hover {
    @extend .Kalend__header_calendar_button-selected;
  }
}
.Kalend__header_calendar_button-selected-dark {
  @extend .Kalend__header_calendar_button-selected;
}

.Kalend__header_calendar_button-text {
  padding: 0 10px 0 10px !important;
  color: $GRAY_800;

  &-dark {
    @extend .Kalend__header_calendar_button-text;
    color: $GRAY_200;
  }
}

.Kalend__header_calendar_button-text-selected {
  @extend .Kalend__header_calendar_button-text;
  color: $PRIMARY_LIGHT !important;

  &-dark {
    @extend .Kalend__header_calendar_button-text-selected;
    color: $PRIMARY_DARK !important;
  }
}
