@import '../../styles/colors';

.header_calendar_buttons__container {
  border-radius: 8px;
  left: 0;
  padding: 0;
  //margin: 0 24px 0 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 26px;
  background-color: $GRAY_300;
  width: auto;
  //box-shadow: 0 5px 5px -5px #333;

  &-mobile {
    @extend .header_calendar_buttons__container;
    flex-direction: column;
    height: 100%;
    background: whitesmoke;
    width: 100%;
    min-width: 80px;
  }

  &-dark {
    @extend .header_calendar_buttons__container;
    background-color: $GRAY_600;
  }
}

.header_calendar_button {
  background: $GRAY_300;
  border: $GRAY_300 solid 0.5px;
  width: auto;
  display: flex;
  border-radius: 8px;
  font-size: 1.4rem;
  align-items: center;

  &:hover {
    @extend .header_calendar_button;
  }

  &-mobile {
    @extend .header_calendar_button;
    background: whitesmoke;
    border: none;
    font-size: 1.5rem;
    width: 100%;
    padding: 8px;
  }

    &-dark {
    @extend .header_calendar_button;
    background-color: $GRAY_600;
    border: $GRAY_600 solid 0.5px;
  }
}

.header_calendar_button-selected {
  @extend .header_calendar_button;
  background: $SURFACE_LIGHT;

  &-mobile {
    @extend .header_calendar_button;
    background: whitesmoke;
    border: none;
    font-size: 1.5rem;
    width: 100%;
    padding: 8px;
  }

  &:hover {
    @extend .header_calendar_button-selected;
  }
}
.header_calendar_button-selected-dark {
  @extend .header_calendar_button-selected;
}

.header_calendar_button-text {
  padding: 0 10px 0 10px !important;
  color: $GRAY_800;

  &-dark {
    @extend .header_calendar_button-text;
    color: $GRAY_200;
  }
}

.header_calendar_button-text-selected {
  @extend .header_calendar_button-text;
  color: $PRIMARY_LIGHT !important;

  &-dark {
    @extend .header_calendar_button-text-selected;
    color: $PRIMARY_DARK;
  }
}
