@import '../../styles/colors';

.Calend__header_calendar_buttons__container {
  border-radius: 8px;
  left: 0;
  padding: 0;
  //margin: 0 24px 0 24px;
  display: flex;
  flex: none;
  flex-direction: row;
  align-items: center;
  //height: 26px;
  //background-color: $GRAY_300;
  width: 100%;
  //box-shadow: 0 5px 5px -5px #333;
  border-radius: 8px;
  border: solid 0.4px $GRAY_300;

  &-mobile {
    @extend .Calend__header_calendar_buttons__container;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 80px;
    border: none;
  }

  &-dark {
    @extend .Calend__header_calendar_buttons__container;
    background-color: $GRAY_600;
  }
}

.Calend__header_calendar_button {
  display: flex;
  padding: 6px 4px 6px 4px;
  justify-content: center;
  align-items: center;
  //width: 100%;
  display: flex;
  //font-size: 1.4rem;
  align-items: center;
  display: flex;
  //padding: 8px 4px 8px 4px;
  justify-content: center;
  align-items: center;
  //width: 60px;

  &:hover {
    @extend .Calend__header_calendar_button;
  }

  &-mobile {
    @extend .Calend__header_calendar_button;
    border: none;
    font-size: 1.5em;
    width: 100%;
    padding: 8px;
    justify-content: flex-start;
  }

    &-dark {
    @extend .Calend__header_calendar_button;
    background-color: $GRAY_600;
    border: $GRAY_600 solid 0.5px;
  }
}

.Calend__header_calendar_button-selected {
  @extend .Calend__header_calendar_button;
  //background: $SURFACE_LIGHT;

  &-mobile {
    @extend .Calend__header_calendar_button;
    background: whitesmoke;
    border: none;
    font-size: 1.5em;
    width: 100%;
    padding: 8px;
    justify-content: flex-start;
  }

  &:hover {
    @extend .Calend__header_calendar_button-selected;
  }
}
.Calend__header_calendar_button-selected-dark {
  @extend .Calend__header_calendar_button-selected;
}

.Calend__header_calendar_button-text {
  padding: 0 10px 0 10px !important;
  color: $GRAY_800;

  &-dark {
    @extend .Calend__header_calendar_button-text;
    color: $GRAY_200;
  }
}

.Calend__header_calendar_button-text-selected {
  @extend .Calend__header_calendar_button-text;
  color: $PRIMARY_LIGHT !important;

  &-dark {
    @extend .Calend__header_calendar_button-text-selected;
    color: $PRIMARY_DARK;
  }
}
