.Kalend__text {
  padding: 0;
  margin: 0;
  //font-size: 10px;
  font-family: MONOSPACE, SansSerif, sans-serif, serif;
  font-size: 1em;
}

.Kalend__Calendar__root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-size: 10px;
  overflow-x: hidden;
  //overflow-y: scroll;
}

.Kalend__main * {
  //font-size: 10px;
  font-family: MONOSPACE, SansSerif, sans-serif, serif;
}

.Kalend__Calendar__table {
  display: inherit;
  overflow: hidden;
  width: 100%;
  height: 100% !important;
  position: relative;
}

.Kalend__button {
  padding: inherit;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  appearance: auto;
  letter-spacing: inherit;
  word-spacing: inherit;
  line-height: inherit;
  text-transform: none;
  text-indent: inherit;
  text-shadow: none;
  display: flex;
  text-align: inherit;
  align-items: inherit;
  box-sizing: inherit;
  background-color: transparent;
  border-width: inherit;
  border-style: inherit;
  border-color: inherit;
  border-image: inherit;
}
