@import '../../styles/colors';

.Kalend__CalendarDesktopNavigation__container {
  border-radius: 8px;
  left: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 70px;
  max-height: 70px;
  min-height: 70px;
  width: auto;
  padding-left: 12px;
  align-items: center;
  //box-shadow: 0 5px 5px -5px #333;
  &-mobile {
    @extend .Kalend__CalendarDesktopNavigation__container;
    //width: 100%;
    flex-direction: column;
    min-height: 0;

    &-dark {
      @extend .Kalend__CalendarDesktopNavigation__container-mobile;
      background: $GRAY_800;
      border-radius: 0;
    }
  }
  }

.Kalend__CalendarDesktopNavigation__container-dark {
  @extend .Kalend__CalendarDesktopNavigation__container;
  background-color: $GRAY_800;
  border-radius: 0;
}

.Kalend__CalendarDesktopNavigation__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &-mobile {
    @extend .Kalend__CalendarDesktopNavigation__buttons;
    justify-content: flex-end;
  }
}

.Kalend__calendarButtonToday {
  display: flex;
  padding: 6px 4px 6px 4px;
  justify-content: center;
  align-items: center;
  width: 60px;
  border: solid 0.4px $GRAY_300;
  margin-right: 12px;
  margin-left: 12px;
}
