@import '../../../../styles/colors';

.Kalend__Event__summary {
  display: -webkit-box;
  webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 0.8em;
  margin: 0;
  padding: 5px 1px 6px 4px;
  opacity: 1;
  overflow: hidden;
  font-weight: 600;
  @media (min-width: 750px) {
    font-size: 0.8em;
  }
  white-space: inherit;

  &-dark {
    @extend .Kalend__Event__summary;
  }
}

.Kalend__Event__summary__type {
  &-header {
    padding: 1px;
    padding-left: 3px;
    font-weight: 500;
    white-space: nowrap;

    &-dark {
      @extend .Kalend__Event__summary__type-header;
    }
  }

  &-month {
    padding: 1px;
    padding-left: 3px;
    font-weight: 500;
    white-space: nowrap;
  }

  &-showMoreMonth {
    @extend .Kalend__Event__summary__type-month;
  }


  &-agenda {
    padding: 8px;
    margin-right: 8px;
    font-weight: 600;
    font-size: 0.8em;
    color: $GRAY_700 !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @media (max-width: 750px) {
      padding: 0 8px 0 8px;
    }
    &-dark {
      @extend .Kalend__Event__summary__type-agenda;
      color: $GRAY_100 !important;
    }
  }
}
