@import '../../styles/colors';

.Calend__Event__animate {
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-name: Calend__EventDetail_animationShow;
  animation-delay: 0s;
}

.Calend__Event {
  border-radius: 6px !important;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  opacity: 1 !important;

  &-month {
    @extend .Calend__Event;
    padding-left: 1px;
    margin-bottom: 1px;
    align-items: center;
    min-height: auto !important;
  }

  &-normal {
    @extend .Calend__Event;
  }

  &-header {
    @extend .Calend__Event;
    padding: 1px;
    padding-left: 3px;
    align-items: center;
  }

  &-agenda {
    @extend .Calend__Event;
    height: 65px !important;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
  }
}

.Calend__EventButton__elevation {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4) !important;
  z-index: 9999 !important;
  cursor: grab !important;
}


@keyframes Calend__EventDetail_animationShow {
  0% {
    opacity: 0;
    min-height: 0 !important;
  }
  100% {
    opacity: 1;
    min-height: 20px!important;
    //height: 100%;
  }
}

