@import '../../../../styles/colors';

.Kalend__Event__time {
  display: -webkit-box;
  webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 0;
  padding: 2px 1px 0 4px;
  opacity: 1;
  overflow: hidden;
  color: #f6f4f4;
  font-size: 0.7em;
}

.Kalend__Event__time__type {
  &-header {
    padding: 1px;
  }

  &-month {
    padding: 1px;
  }

  &-agenda {
    padding: 8px;
    font-size: 0.8em;
    color: $GRAY_700;
  }
}
