@import '../../../../styles/colors';

.Event__time {
  display: -webkit-box;
  webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 0;
  padding: 2px 1px 2px 4px;
  opacity: 1;
  overflow: hidden;
  color: white;
  font-size: 1.2rem;
}

.Event__time__type {
  &-header {
    padding: 1px;
  }

  &-month {
    padding: 1px;
  }

  &-agenda {
    font-size: 1.3rem;
    padding: 0 8px 8px 8px;
  }
}
