@import '../../styles/colors';

.Kalend__CalendarViewDropdown__wrapper {
  position: relative;
}
.Kalend__CalendarViewDropdown__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Kalend__CalendarViewDropdown__container {
  position: absolute;
  top: 50px;
  right: 4px;
  display: flex;
  flex-direction: column;
  //width: 100%;
  height: auto;
  padding: 16px;
  z-index: 20;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 8px;

  &-dark {
    @extend .Kalend__CalendarViewDropdown__container;
    background-color: $GRAY_700;
  }
}

.Kalend__CalendarViewDropdown__container-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
