@import '../../styles/colors';

.carousel__wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  @media (min-width: 750px) {
    overflow-x: hidden;
  }
}

.carousel__control {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.carousel__control-left {
  @extend .carousel__control;
  left: 100px;
  justify-content: flex-start;
  animation-name: carousel-left;
  animation-duration: 0.3s;
}
.carousel__control-right {
  @extend .carousel__control;
  right: 100px;
  justify-content: flex-end;
  animation-name: carousel-right;
  animation-duration: 0.3s;
}
@keyframes carousel-left {
  0% {
    left: -100px;
  }
  100% {
    left: 100px;
  }
}
@keyframes carousel-right {
  0% {
    right: -100px;
  }
  100% {
    right: 100px;
  }
}
