@import '../../styles/colors';

.Calend__carousel__wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  @media (min-width: 750px) {
    overflow-x: hidden;
  }
}

.Calend__carousel__control {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.Calend__carousel__control-left {
  @extend .Calend__carousel__control;
  left: 100px;
  justify-content: flex-start;
  animation-name: Calend__carousel-left;
  animation-duration: 0.3s;
}
.Calend__carousel__control-right {
  @extend .Calend__carousel__control;
  right: 100px;
  justify-content: flex-end;
  animation-name: Calend__carousel-right;
  animation-duration: 0.3s;
}
@keyframes Calend__carousel-left {
  0% {
    left: -100px;
  }
  100% {
    left: 100px;
  }
}
@keyframes Calend__carousel-right {
  0% {
    right: -100px;
  }
  100% {
    right: 100px;
  }
}
