@import './components/CalendarDesktopNavigation/CalendarDesktopNavigation.scss';
@import './components/agendaView/AgendaView.scss';
@import './components/agendaView/agendaDayRow/AgendaDayRow.scss';
@import './components/buttonBase/ButtonBase.scss';
@import './components/buttonIcon/ButtonIcon.scss';
@import './components/calendarHeader/CalendarHeader.scss';
@import './components/calendarHeader/calendarHeaderEvents/CalendarHeaderEvents.scss';
@import './components/calendarHeader/components/calendarHeaderCol/CalendarHeaderCol.scss';
@import './components/calendarHeader/components/calendarHeaderColText/CalendarHeaderColText.scss';
@import './components/calendarHeader/components/calendarHeaderDates/CalendarHeaderDates.scss';
@import './components/calendarHeader/components/calendarHeaderWeekDays/CalendarHeaderWeekDays.scss';
@import './components/calendarHeader/components/calendarHeaderWrapper/CalendarHeaderWrapper.scss';
@import './components/calendarViewDropdown/CalendarViewDropdown.scss';
@import './components/carousel/carousel.scss';
@import './components/daysViewTable/DaysViewTable.scss';
@import './components/daysViewTable/daysViewOneDay/DaysViewOneDay.scss';
@import './components/daysViewTable/daysViewOneDay/calendarBodyHours/CalendarBodyHours.scss';
@import './components/desktopLayout/DestopLayout.scss';
@import './components/eventButton/EventButton.scss';
@import './components/eventButton/components/eventSummary/EventSummary.scss';
@import './components/eventButton/components/eventTime/EventTime.scss';
@import './components/eventButton/eventAgenda/EventAgenda.scss';
@import './components/headerCalendarButtons/HeaderCalendarButtons.scss';
@import './components/headerCalendarTitle/HeaderCalendarTitle.scss';
@import './components/mobileLayout/MobileLayout.scss';
@import './components/monthView/MonthView.scss';
@import './components/monthView/monthOneDay/MonthOneDay.scss';

.Calend__text {
  padding: 0;
  margin: 0;
  //font-size: 10px;
  font-family: MONOSPACE, SansSerif, sans-serif, serif;
  font-size: 1em;
}

.Calend__Calendar__root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-size: 10px;

  //overflow-x: hidden;
  //overflow-y: scroll;
}

.Calend__main * {
  //font-size: 10px;
  font-family: MONOSPACE, SansSerif, sans-serif, serif;
}

.Calend__Calendar__table {
  display: inherit;
  overflow: hidden;
  width: 100%;
  height: 100% !important;
  position: relative;
}

.Calend__button {
  padding: inherit;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  appearance: auto;
  letter-spacing: inherit;
  word-spacing: inherit;
  line-height: inherit;
  text-transform: none;
  text-indent: inherit;
  text-shadow: none;
  display: flex;
  text-align: inherit;
  align-items: inherit;
  box-sizing: inherit;
  background-color: transparent;
  border-width: inherit;
  border-style: inherit;
  border-color: inherit;
  border-image: inherit;
}
