@import '../../../styles/colors';

$BORDER_COLOR: $GRAY_300;
$BORDER_DARK_COLOR: $GRAY_900;

.DayViewOneDay {
  //height: 960px;
  position: relative;
  flex-direction: column;
}

.DayViewOneDay__border-left {
  border-left: solid 0.6px $BORDER_COLOR;

  &-dark {
    @extend .DayViewOneDay__border-left;
    border-left: solid 0.6px $BORDER_DARK_COLOR;
  }
}
