@import '../../../styles/colors';

$BORDER_COLOR: $GRAY_300;
$BORDER_DARK_COLOR: $GRAY_900;

.Calend__DayViewOneDay {
  position: relative;
  flex-direction: column;
}

.Calend__DayViewOneDay__border-left {
  border-left: solid 0.6px $BORDER_COLOR;

  &-dark {
    @extend .Calend__DayViewOneDay__border-left;
    border-left: solid 0.6px $BORDER_DARK_COLOR;
  }
}
