@import '../../../styles/colors';

.Kalend__EventAgenda__container {
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-content: center;
  align-items: center;
  @media (max-width: 750px) {
    padding: 0;
  }
  &-col {
    @extend .Kalend__EventAgenda__container;
    flex-direction: column;
  }
}
