@use "sass:math";

@import '../../styles/colors';

$month_view__width: math.div(100%, 7);
$month_view__height: math.div(100%, 6);

.Kalend__MonthView__container {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: stretch;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 1px;
  left: 0;
  right: 0;
}

.Kalend__Monthview_Event {
  max-height: 17px !important;
  min-height: 17px;
  margin-top: 1px;


}

.Kalend__MonthView_more_title {
  font-size: 16px;
  padding: 0;
  margin: 4px;
  margin-bottom: 8px;
  text-align: center;

  &-dark {
    @extend .Kalend__MonthView_more_title;
    color: $GRAY_200;
  }
}
