@import '../../../../styles/colors';

.Kalend__CalendarHeaderCol {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  position: relative;
  @media (min-width: 750px) {
    align-items: flex-start;
  }

  &-dark {
    @extend .Kalend__CalendarHeaderCol;
    background: $MODAL_DARK;
  }
}
