@import '../../../styles/colors';

.Kalend__AgendaDayRow__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.Kalend__AgendaDayRow__events {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.Kalend__AgendaDayRow__container-day {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: auto;
}
